@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea {
	font-size: 100%;
	vertical-align: middle;
}

img {
	border-style: none;
	display: block;
}

hr {
	display: none;
}

em {
	font-style: normal
}

input {
	line-height: auto;
	vertical-align: middle;
}

strong.more {
	color: #c30
}

a {
	text-decoration: none;
}


body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* ここから書き込み */

html,
body {
	position: relative;
	height: 100%;
	background: #FFEFD5;
}

/* swiper */
.swiper {
	max-width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: auto;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFEFD5;
}

.swiper-slide img {
	display: block;
	width: 90%;
	height: 90%;
	object-fit: cover;
	align-self: center;
}

/* header */
header {
	background: lightgray;
}

.title {
	position: relative;
	width: 100%;
	max-height: 100%;
	display: block;
	background-color: lightgray;
}

header>h1 {
	position: relative;
	left: 0;
	top: 0;
}

.menu {
	position: absolute;
	top: 1%;
	right: 1%;
	display: flex;
}

.menu a {
	margin: 0 0.5rem;
	color: darkgray;
	text-decoration-line: none;
}

a.Home {
	color: black;
}


/* main */
main {
	background: #FFEFD5;
}

h2 {
	background: #FFC7AF;
	gap: 0px;
}

.services ul {
	display: none;
}

#info {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

#info img {
	width: 100%;
	height: 100%;
}

.col-sm-6 {
	margin-top: 5%;
}

#info li {
	list-style: disc;
}

.Advertisement {
	margin-bottom: 3%;
}

.Advertisement h3 {
	margin-top: 7%;
	margin-bottom: 3%;
}

.aboutUs {
	background-color: black;
	color: white;
	padding: 4%;
	margin-bottom: 3%;
}

.shops {
	padding-bottom: 8%;
	width: 90%;
	margin-left: 6%;
}

h3.shops {
	text-align: center;
	justify-content: center;
	padding: 0;
}

.shops img {
	width: 93%;
	height: 93%;
	border-radius: 50%;
}

/* footer */
footer {
	background: darkgray;
	display: flex;
	justify-content: center;
}

footer p {
	margin: 5% 1% 8% 1%;
}

.scrollAnimation {
	opacity: 0;
}

.scrollAnimation.scrollin {
	transition: all 1000ms;
	opacity: 1;
}

/* mediaQuery */
@media(max-width:768px) {
	.shops {
		display: none;
	}
}

@media(max-width:768px) {
	header>h1 {
		position: relative;
	}

	.menu {
		position: relative;
		top: 0;
		right: auto;
		left: 0;
		display: none;
		padding: 0;
		height: 100%;
		background-color: lightgrey;
	}
}

@media(max-width:768px) {
	.burger {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	.burger div {
		position: relative;
		display: block;
		right: 10px;
		width: 2rem;
		height: 3px;
		background-color: #fff;
		border-radius: 20%;
	}

	.line1 {
		top: 0.5rem;
	}

	.line2 {
		top: 1.1rem;
	}

	.line3 {
		top: 1.7rem;
	}
}